
body{
 margin: auto 0;
 background: url(Main_back2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


h2{
	background-color: #b3f0ff;
	text-align: center;
	border: 5px inset blue;
	
  
    padding: 5px 20px 5px 20px;
display: flex;
  align-items: center;
  justify-content: center;
 
}

.btn{
  width: 50vh;
  border:inset black;
  border-radius: 300px;
}

a{
	
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
button{
  background-image: linear-gradient(to right, #00BFFF, #FF1493); 
}

.list{
  
font-family: 'Zen Loop', cursive;
  font-size: 200%;
 height: 620px;
width: 1000px;
text-align: center;

}
h1{
  font-size: 25px;
  width: 50vh;
  border:inset black;
  border-radius: 300px;
  
  justify-content: center;
}
img{
  height: 200px;
  width: 200px;
}
button{
    border: inset black ;
  border-radius: 300px;
  width: 50vh;
 background-image: linear-gradient(to right, #00BFFF, #FF1493);
 height: 50px;
}


a{
  color: black;
    border: inset black ;
  border-radius: 300px;
  width: 50vh;
 background-image: linear-gradient(to right, #00BFFF, #FF1493);
 height: 50px;
}

